<config>
    <modules>
        <Magentotutorial_Hallo>
            <version>0.1.0</version>
        </Magentotutorial_Hallo>
    </modules>
	
	<global>
        <events>
            <controller_front_init_routers>
                <observers>
                    <Magentotutorial_hallo_model_observer>
                        <type>singleton</type>
                        <class>Magentotutorial_Configviewer_Model_Observer</class>
                        <method>checkForConfigRequest</method>
                    </Magentotutorial_hallo_model_observer>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
	
</config> 